<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/img/fav.png')}}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Portal Machine Learning</title>

    <!--
			Google Font
			============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/linearicons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}">
</head>

<body>

    <!-- Start Header Area -->
    <header id="header">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/"><img src="{{url_for('static', filename='assets/img/logo.png')}}" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

<!--                        <li class="menu-active"><a href="/">Home</a></li>-->
<!--                        <li><a href="notes">Materi</a></li>-->
<!--                        <li class="menu-has-children"><a href="">Tugas</a>-->
<!--                            <ul>-->
<!--                                <li><a href="task_linear_regression">Linear Regression</a></li>-->
<!--                                <li><a href="task_logistic_linear">Logistic Regression</a></li>-->
<!--                                <li><a href="cart">CART</a></li>-->
<!--                                <li><a href="kmeans">K-means Clustering - Segmentasi Citra</a></li>-->
<!--                                <li><a href="task_artificial_neural_network">Artificial Neural Networks</a></li>-->
<!--                                <li><a href="cnn">Convolutional Neural Networks</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><a href="contact">Kontak</a></li>-->
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->


    <!-- Start Banner Area -->
    <section class="home-banner-area relative">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8 col-md-12">
                    <br>
<!--                    <h1 class="wow fadeIn" data-wow-duration="2s">Portal Machine Learning <br></h1>-->
<!--                    <p class="text-white">-->
<!--                        Laboratorium Riset, Universitas Trunojoyo Madura-->
<!--                    </p>-->

                    <!-- 	<div class="input-wrap">
						<form action="" class="form-box d-flex justify-content-between">
							<input type="text" placeholder="Search Courses" class="form-control" name="username">
							<button type="submit" class="btn search-btn">Search</button>
						</form>
					</div> -->
                    <br><br><br>
                    <h4 class="text-white">Tugas</h4>

                    <div class="courses pt-20">
                        <a href="PCA" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">PCA</a>
                        <a href="LDA" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">LDA</a>
<!--                        <a href="cart" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">CART</a>-->
<!--                        <a href="kmeans" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">K-means Clustering - Segmentasi Citra</a>-->
<!--                        <a href="task_artificial_neural_network" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Artificial Neural Networks</a>-->

<!--						<a href="cnn" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Convolutional Neural Network-->
<!--						</a>-->
                       <!--  <a href="greyscale_citra" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Konversi Warna Citra</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="rocket-img">
            <img src="{{url_for('static', filename='assets/img/rocket.png')}}" alt="">
        </div>
    </section>
    <footer class="footer-area section-gap" style="padding: 20px;">
        <div class="container">
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <!-- ####################### Start Scroll to Top Area ####################### -->
    <div id="back-top">
        <a title="Go to Top" href="#"></a>
    </div>
    <!-- ####################### End Scroll to Top Area ####################### -->

    <script src="{{url_for('static', filename='assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/hoverIntent.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/superfish.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl-carousel-thumb.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.sticky.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/parallax.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/mail-script.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
</body>

</html>
